body {
    width: 970px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    margin-top: 20%;
    text-align: center;
    border: solid;
    border-color: black;
    width: 50%;
    height: 150px;
    padding-top:20px
}

input, label {
    margin-bottom: 20px;
}