body {
    width: 970px;
    margin: 0 auto;
    padding: 10px, 30px;
}

#forms {
    display: flex;
    justify-content: space-between;
    text-align: center
}

input {
    width: 200px;
}

form {
    border: solid;
    border-color: black;
}

#register-form {
    height: 400px;
    width: 40%;
}

#login-form {
    height: 200px;
    width: 40%;
}

input, label {
    margin-bottom: 20px;
}
